.page {
  margin-right: auto;
  margin-left: auto;
  font-size: 16px;
  line-height: 20px;
  font-family: "inter", Arial, sans-serif;
}

.header {
  min-height: 720px;
  min-width: 1100px;
  max-width: 1600px;
  background-color: #ffffff;
  background-image: url("../images/background_header.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-content: center;
  padding-top: 30px;
  margin-bottom: 183px;
}

.nav__logo {
  padding-left: 30px;
  width: 105px;
  height: 39px;
}

.nav__links {
  list-style: none;
  padding-right: 80px;
  display: flex;
  flex-flow: row wrap;
  column-gap: 20px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.header__title span {
  display: block;
  margin-left: 80px;
  max-width: 709px;
}

.header__title {
  font-size: 58px;
  line-height: 72px;
  letter-spacing: -1px;
}

.header__title-accent {
  font-family: "Noto Serif,  Times New Roman, Serif";
  font-style: italic;
  font-weight: normal;
  font-size: 58px;
  line-height: 72px;
  color: #2f80ed;
}

.header__description {
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  margin-top: 28px;
  margin-left: 80px;
  max-width: 683px;
}

.header__image {
  position: absolute;
  top: 124px;
  right: 5px;
  width: 646px;
  height: 568px;
}

.header__footer {
  margin-top: auto;
}

.header__footer-information {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  align-items: flex-end;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
}

.header__footer-schedule {
  margin-left: 80px;
}

.header__footer-direction {
  margin-right: 80px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
}

.content {
  background-color: #0a2750;
  background-image: url("../images/background_recipes.svg");
  color: #ffffff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.recipes {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
}

.recipes__title {
  font-size: 44px;
  line-height: 52px;
  padding-top: 100px;
  margin-left: 80px;
  max-width: 580px;
  margin-top: 0;
}

.recipes__subtitle {
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  margin-top: 24px;
  margin-bottom: 80px;
  margin-left: 80px;
  max-width: 438px;
}

.recipes__videos {
  display: flex;
  justify-content: center;
  flex-direction: row;
  column-gap: 40px;
}

.update recipes__video-item {
}

.recipes__iframe {
  width: 480px;
  height: 273px;
  border: none;
}

.recipes__video-caption {
  margin-bottom: 215px;
  display: flex;
  justify-content: space-between;
}
